body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.6;
  font-size: 1.125rem;
  background-color: #f4f4f4;
  margin: 0;
}

.mySlides {
  display: none;
}

.slide-img {
  width: 100%;
  height: auto;
  opacity: 0.3;
  margin: 0 auto;
  display: block;
}

.slide-caption {
  font-size: 1.2rem;
  padding: 10px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  text-shadow: none;
  font-weight: bold;
}

.slide-number {
  color: #f2f2f2;
  font-size: 1.1rem;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.main-section {
  max-width: 90vw !important;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: white;
  padding: 4.5rem 2rem;
  border-radius: 8px;
}

.composer-img {
  width: 75%;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
}

.nav-icon {
  font-size: 1.5rem;
}

.footer-custom {
  background-color: #333;
  color: white;
  padding: 3.5rem 1.8rem;
  font-size: 1rem;
}

@media screen and (max-width: 600px) {
  .slide-caption {
    font-size: 1rem;
    position: relative;
    color: black;
    background: rgba(255, 255, 255, 0.8);
  }
}

.navbar-custom {
  padding: 0.5rem 0;
}
.mobile-nav-offset {
  margin-top: 46px;
}

.slideshow-main-container {
  max-width: 1200px;
  margin-top: 80px;
}

.dots-container {
  width: 100%;
}

.row-margin-fix {
  margin: 0 -16px;
}

.card-img-full {
  width: 100%;
}

.contact-icon-fixed {
  width: 30px;
}

.form-row-fix {
  margin: 0 -16px 8px -16px;
}

.final-art-img {
  width: 100%;
  opacity: 0.3;
}
